body {
  background-color: #fdfdff;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #163152;
}

.site-navigation{
    list-style: none;
}

.site-navigation-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #163152;
}

.signin {
  border: 1px solid #00c6bd;
  border-radius: 50%;
}

.hero h1 {
  font-style: italic;
  font-size: 44px;
  line-height: 60px;
}

.blog-article time {
  font-size: 14px;
  line-height: 18px;
}

h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.contact-items{
    list-style: none;
}

.contact-item{
    line-height: 22px;
}

.contact-item a{
    line-height: 22px;
    text-decoration: none;
    color: #163152;
}

.social-list{
    list-style: none;
}

.social-item a{
    border: 1px solid #00c6bd;
    border-radius: 50%;
}

.policy, .copyright{
    font-size: 10px;
    line-height: 12px;
}

.policy a{
    text-decoration: none;
    color: #163152;
}

.footer-navigation-topics{
    list-style: none;
}

.footer-navigation-topic h2{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.footer-navigation-item{
    list-style: none;
}

.footer-navigation-item a{
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #163152;
}